h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: rgb(110, 45, 163);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}