body {
    letter-spacing: 0.03em;
    line-height: 1.6;
}
.item {
    max-width: 1200PX;
    height: 430;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.item .item-card {
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.item .item-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.item .item-card {
    font-weight: 600;
}

.item .item-card a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(179, 128, 226);
}

.item .item-card span {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
